.nav a {
  color: #FFFFFF;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  background: #ff6f3a;

}

.nav li {
  display: inline;
  padding: 0px; 
}

.nav a:hover{
	cursor: pointer;
}

html, body{
    height:100%;
	background-image: url(../Images/bg.jpg);
	background-size: cover;
}

.home{
	position:relative;
	display:block;
	width: 100%;
	height: 100%;
	background-image: url(../Images/slide1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin:0px;
	padding:0px;
	
}
.dates{
	position: absolute;
    top: 35px;
    text-transform: uppercase;
    font-size: 20px;
    color: #f9f9f5;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 1px #000;	
}
.buttons {
    position: absolute;
    bottom: 100px;
    width: 710px;
    left: 50%;
    margin: 0 0 0 -355px;
}
.buttons a {
    position: relative;
    float: left;
    display: block;
    text-decoration: none;
    width: 350px;
    height: 65px;
    color: #f9f9f5;
    font-size: 26px;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #f9f9f5;
    color: #f9f9f5;
    box-sizing: border-box;
    text-align: center;
    line-height: 57px;
}
.buttons a:hover {
    background: #f9f9f5;
    color: #242424;
}

.Question{
	  margin-left: auto;
    margin-right: auto;
    height: 200px;
	top:50px;
}

.Question h4{
    text-align: center;
}

.Question p{
    text-align: center;
}

.Question img{
    align-items: center;
}

.information .container{
    padding-top: 100px;
}


.general .picture{
	position: relative;
    float: left;
    width: 100%;
    height: 520px;
    display: block;
    z-index: 9;
	background-image: url(../Images/about.jpg);
	background-size: cover;
}

.general h1 {
    position: absolute;
    bottom: 40px;
    left: 10%;
    color: #f9f9f5;
    z-index: 99;
    font-size: 90px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4)
}

.general .content{
	top:40px;
	height:1000px;
	width:60%;
	position: relative;
	font-size: 18px;
	margin-left:20%;
}
.times .picture{
	position: relative;
    float: left;
    width: 100%;
    height: 520px;
    display: block;
    z-index: 9;
	background-image: url(../Images/time.jpg);
	background-size: cover;
}
.times h1 {
    position: absolute;
    bottom: 40px;
    left: 10%;
    color: #f9f9f5;
    z-index: 99;
    font-size: 90px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4)
}
.times .content{
	top:25px;
	width:60%;
	position: relative;
	font-size: 18px;
	margin-left:20%;
	height: 780px;
}
.age .picture{
	position: relative;
    float: left;
    width: 100%;
    height: 520px;
    display: block;
    z-index: 9;
	background-image: url(../Images/age.jpg);
	background-size: cover;
}
.age h1 {
    position: absolute;
    bottom: 40px;
    left: 10%;
    color: #f9f9f5;
    z-index: 99;
    font-size: 90px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4)
}
.age .content{
	top:25px;
	width:60%;
	position: relative;
	font-size: 18px;
	margin-left:20%;
	height:700px;
}
.cashless .picture{
	position: relative;
    float: left;
    width: 100%;
    height: 520px;
    display: block;
    z-index: 9;
	background-image: url(../Images/cashless.jpg);
	background-size: cover;
}
.cashless h1 {
    position: absolute;
    bottom: 40px;
    left: 10%;
    color: #f9f9f5;
    z-index: 99;
    font-size: 90px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4)
}
.cashless .content{
	top:25px;
	width:60%;
	position: relative;
	font-size: 18px;
	margin-left:20%;
	height:900px;
}
.end .picture{
	position: relative;
    float: left;
    width: 100%;
    height: 520px;
    display: block;
    z-index: 9;
	background-image: url(../Images/end.jpg);
	background-size: cover;
}
.end h1 {
    position: absolute;
    bottom: 40px;
    left: 10%;
    color: #f9f9f5;
    z-index: 99;
    font-size: 90px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4)
}
.end .content{
	top:25px;
	width:60%;
	position: relative;
	font-size: 18px;
	margin-left:20%;
	height:1200px;
}

.learn-more h1{
	text-align: center;
    bottom: 40px;
    left: 10%;
    color: #000;
    z-index: 99;
	text-shadow: 0 1px 2px rgba(6, 0, 0, 0.4);
	padding-bottom: 50px;
}

.head h1{
	position:relative;
	top: 200px;	
	left:150px;
}

.login{
	position: fixed;
	width: 340px;
	height: 280px;
	top: 50%;
	left: 50%;
	margin-top: -140px;
	margin-left: -170px;
	background: #fff;
	border-radius: 15px;
	z-index: 100;
}

.signup{
	position: fixed;
	width: 340px;
	height: 350px;
	top: 40%;
	left: 50%;
	margin-top: -140px;
	margin-left: -170px;
	background: #fff;
	border-radius: 15px;
	z-index: 100;
}


form {
    margin: 0 auto;
    margin-top: 20px;
}

label {
    color: #555;
    display: inline-block;
    margin-left: 10px;
    padding-top: 10px;
    font-size: 14px;
}

input {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
}

input[type=text],
input[type=password] {
    color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 15px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
	border: 1px solid #c7d0d2;
    border-radius: 2px;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
}

.login #lower {
    background: #F5DEB3;
    width: 100%;
    height: 69px;
    margin-top: 20px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.signup #lower {
    background: #F5DEB3;
    width: 100%;
    height: 69px;
    margin-top: 0px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
input[type=submit], input[type=button], input[type=reset] {
	margin-left: 10px;
	margin-right: 10px;
    margin-top: 20px;
    width: 80px;
    height: 30px;
	font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6f3a), to(#FF8C00));
    background-image: -moz-linear-gradient(top left 90deg, #ff6f3a 0%, #ff6f3a 100%);
    background-image: linear-gradient(top left 90deg, #ff6f3a 0%, #ff6f3a 100%);
    border-radius: 30px;
    border: 1px solid #ff6f3a;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
    cursor: pointer;
}

input[type=submit], input[type=button]{
	float:left;
}
input[type=reset]{
	float:right;	
}
input[type=text]:hover,
input[type=password]:hover {
    border: 1px solid #b6bfc0;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
}
input[type=text]:focus,
input[type=password]:focus {
    border: 1px solid #a8c9e4;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
}
input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF8C00), to(#ff6f3a));
}
input[type=submit]:active, input[type=button]:active, input[type=reset]:active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6f3a), to(#ff6f3a));
}

/** part two of the project
*
*
*
*/

#error{


    color: #ff030d;
}