/*navigation*/
.nav a {
  color: #FFFFFF;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  background: #ff6f3a;

}

.nav li {
  display: inline;
  padding: 0px; 
}

.nav a:hover{
	cursor: pointer;
}

html, body{
    height:100%;
	background-image: url(../Images/bgprofile.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/*box*/
.profile{
	background: rgba(0, 0, 0, 0.6);
	width:80%;
	height:90%;
	margin-left:10%;
	margin-top:5%;
	border-radius: 10px;
}

.photo{
	float: left;
	padding-top: 80px;
	padding-left: 20px;
	font: 16px/22px 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
	line-height: 30px;	
	text-align: right;
	letter-spacing: 3px;
	position: fixed;
}

.photo ul {
	list-style-type:none;
	margin:0;
	padding:0;
	float: right;
}

.photo a {
text-decoration: none;
color: white;
}

.photo nav ul li a { 
	padding-top:50px;
display: block;
margin-bottom: 10px;
width: 100%;
padding: 0px 8.5px;
}

.photo a:hover {
color: white;
background: rgb(255, 255, 255);
background: rgba(255, 255, 255, 0.5); 
}

.vertical{
	width:.09em;
	height: 90%; 
	background: white; 
	border-radius: 10px; 
	position: absolute; 
	margin-left: 240px;
	margin-top: 0px;	
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.5); 	
}

.map{
	margin-left: 350px;
	padding-top: 100px;
	display: none;
}

.chat{
	margin-left: 350px;
	padding-top: 100px;
	display: none;
}

.profinfo{
	margin-left: 350px;
	padding-top: 10px;
	color:white;
}

.editinfo{
	margin-left: 350px;
	padding-top: 10px;
	color:white;	
	display:none;
}

form {
    margin: 0 auto;
    margin-top: 20px;
}

label {
    color: white;
    display: inline-block;
    margin-left: 30px;
    padding-top: 20px;
    font-size: 18px;
}

input {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
}

#name{
	margin-left: 100px;	
}
#lastname{
	margin-left: 68px;	
}
#email{
	margin-left: 102px;	
}
#address{
	margin-left: 84px;	
}
#telephone{
	margin-left: 15px;	
}
#paypall{
	margin-left: 74px;	
}

input[type=submit]{
	margin-left: 10px;
	margin-right: 10px;
    margin-top: 20px;
    width: 110px;
    height: 30px;
	font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6f3a), to(#FF8C00));
    background-image: -moz-linear-gradient(top left 90deg, #ff6f3a 0%, #ff6f3a 100%);
    background-image: linear-gradient(top left 90deg, #ff6f3a 0%, #ff6f3a 100%);
    border-radius: 30px;
    border: 1px solid #ff6f3a;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
    cursor: pointer;
}

input[type=text]{
    color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 15px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
	border: 1px solid #c7d0d2;
    border-radius: 2px;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
}

/*footer*/
.Question{
	  margin-left: auto;
    margin-right: auto;
    height: 200px;
	top:50px;
}

.Question h4{
    text-align: center;
}

.Question p{
    text-align: center;
}

.Question img{
    align-items: center;
}


/*tickets page*/


.head h1{
	padding: 10px;	
	font-size: 50px;
	margin-left: 40%;
	margin-top: 15%;
    left: 10%;
    color: #ff6f3a;
    z-index: 99;
    font-size: 90px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9)
}

.buytable{
	width: 400px;
	height:auto;
	background-color: #ff6f3a;
	margin-left: 38%;
	border: 5px solid #ff6f3a;
	border-radius: 15px;
	padding: 10px;
	margin-top:10px;
	padding:20px;
	color: #fff;
}

.eventinfo{	
	font-size: 17px;
}

.headline{
	height:26px;
	width: 100%;
	margin-bottom: 20px;
}

.table{
	color: #000;	
}

.table input[type=submit]{
	margin-left: 0px;
	margin-right: 0px;
    margin-top: 0px;
    width: 70px;
    height: 20px;
	font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6f3a), to(#FF8C00));
    background-image: -moz-linear-gradient(top left 90deg, #ff6f3a 0%, #ff6f3a 100%);
    background-image: linear-gradient(top left 90deg, #ff6f3a 0%, #ff6f3a 100%);
    border-radius: 30px;
    border: 1px solid #ff6f3a;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
    cursor: pointer;	
}
